## python is case sensitive programming Language

In [1]:
print("Hello World!")

Hello World!

In [2]:
print("India","Pakistan","srilanka","Bangladesh")

India Pakistan srilanka Bangladesh

In [3]:
print('Shiva')

Shiva

In [4]:
print(1)

1

In [5]:
print(10000)

10000

In [6]:
print(2.0)

2.0

In [7]:
print(True)

True

In [8]:
print(False)

False

In [9]:
print("India",1,True)

India 1 True

In [ ]:
# In Anaconda, if you want any description regarding any keyword or function press shift + tab

In [10]:
print("India","Pakistan","srilanka","Bangladesh",sep = "/")

India/Pakistan/srilanka/Bangladesh

In [11]:
print("India","Pakistan","srilanka","Bangladesh",sep = "-")

India-Pakistan-srilanka-Bangladesh

In [12]:
# end = "/n"
print("Shiva")
print("Shiva")

Shiva
Shiva

In [15]:
print("Hello",end=" ")
print("World")

Hello World

## Data Types

In [ ]:
# Basic Types 
# int , float , complex , boolean and string

# container types
# (list, tuples , sets , dictionary)

# User-defined types 
# class

In [16]:
# integer
print(4)

4

In [18]:
# max number in python in integer it shows infinite
print(1e309)

inf

In [22]:
# float
print(1.2)
print(1.7e309)

1.2
inf

In [24]:
# Boolean 
print(True)
print(False)

True
False

In [25]:
# Complex
print(4+5j)

(4+5j)

In [26]:
# String
print('SHIva')
print("shiva")
print("""Shiva""")

SHIva
shiva
Shiva

In [27]:
# container Data types
# list
# square bracket
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [28]:
#tuple
# small bracket
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [29]:
# sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [30]:
# Dictionary
# Key , Value pairs
print({"Name":"Shiva","Age":30,"Gender":"Male"})

{'Name': 'Shiva', 'Age': 30, 'Gender': 'Male'}

## comments

In [31]:
# comments
# A piece of code which is not execute by compiler 
# comments are used to different purposes which are future code description or documents for code readibility
# this is a comment
# In python we cannot write multi lines like other langauges

## Variables

In [ ]:
# variables are containers for future use 
# two types
# Dynamic typing
# Dynamic binding

In [32]:
name = 'Shiva'

In [33]:
print(name)

Shiva

In [35]:
name = "Hello World"

In [36]:
print(name)

Hello World

In [37]:
# No variable declaration in python
# Dynamic typing -- PHP lang also same feature
# static typing

In [38]:
name = 4
print(name)

4

In [39]:
name = True
print(name)

True

In [ ]:
# Dynamic Binding
# A variable can store multiple datatypes values 
# Static Binding

In [40]:
# special syntax
a = 1 ; b= 10 ; c = 21
print(a)
print(b)
print(c)

1
10
21

In [41]:
a = b = c = 6
print(a)
print(b)
print(c)

6
6
6

## keywords & Identifiers

In [42]:
# keywords
# python is a case sensitive programming language
# keywords cannot be used as variables names

In [43]:
# python has 33 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Identifiers
# A python identifier is a name used to identify a variable , Function ,class , module or other objects

In [ ]:
# Rules for setting Identifiers
# 1 . Can only start with an alphabet or _(underscore), cannot use characters
# 2. Followed by 0 or more letter , _(underscore) and digits
# keywords cannot be used as identifiers

In [44]:
_ = "Shiva"
print(_)

Shiva

In [45]:
first_name = "shiva"
print(first_name)

shiva

## User-Input

In [47]:
# input()
name = input("Enter Your Name: ")
print(name)

Enter Your Name: Shiva Nagendra Babu
Shiva Nagendra Babu

In [50]:
first_number = int(input("Enter the First Number: "))
second_number = int(input("Enter the Second Number: "))
Total = first_number + second_number
print("Result is:",Total)

Enter the First Number: 123
Enter the Second Number: 123
Result is: 246

In [51]:
# type()
type(first_number)

int

## Type-conversion

In [52]:
# Converting one data type to another data type
# implicit type conversion
# explicit type conversion

In [53]:
4 + 5.5

9.5

In [54]:
int(4.5)

4

In [55]:
a = int('234')

234

In [56]:
type(a)

int

In [57]:
float (3)

3.0

In [58]:
str(4)

'4'

In [59]:
bool(1)

True

In [60]:
complex(5)

(5+0j)

In [61]:
list("Shiva")

['S', 'h', 'i', 'v', 'a']

In [62]:
tuple('shiva')

('s', 'h', 'i', 'v', 'a')

In [65]:
a = 4.5

In [67]:
int(a)

4

In [68]:
a

4.5

## Literals

In [ ]:
# Literals a raw data given in a variale. 
# In Python there are 4 types of literals
# 1. Numerical Literals
# 2. String Literals
# 3. Boolean Literals
# 4. Special Literals

In [88]:
a = 0b1010 # binary literals
b = 100 # Decimal Literals
c = 0o310 # Octal Literals
d = 0x12c # Hexa decimal Literals

In [89]:
print(a)
print(b)
print(c)
print(d)

10
100
200
300

In [90]:
# Float Literals
float_1 = 10.5
float_2 = 1.5e2 # 1.5 x 10 to the power 2
float_3 = 1.5e-3 # 1.5 x 10 to the power minus 3

In [91]:
print(float_1)
print(float_2)
print(float_3)

10.5
150.0
0.0015

In [92]:
# Complex Literals
x = 3.14j
print(x)
print(x.imag) # imginary Part
print(x.real) # Real Part

3.14j
3.14
0.0

In [97]:
# 2. String Literals
string = 'This is Python'
strings= " This is Python"
Multiline_string = """This is a python programming Language"""
char = "C"
unicode = u"\U0001f600" # For Emojies
raw_string = r"this is a raw \n string"

In [98]:
print(strings)
print(strings)
print(Multiline_string)
print(char)
print(unicode)
print(raw_string)

 This is Python
 This is Python
This is a python programming Language
C
😀
this is a raw \n string

In [99]:
# 3. Boolean Literals
a = True + 4 # Here Implicit type conversion 
# True = 1 and False = 0
b = False + 10 
print("a:",a)
print("b:",b)

a: 5
b: 10

In [100]:
# Special Literals(None)
# Only Variable declaration in pythonf
a = None
print(a)

None

## Operators

In [101]:
# definition = Operators are used to perform operations on variables and values
# 1. Arthimatic operators
# 2. Comparsion or Relationals operators
# 3. Logical operators
# 4. Bitwise Operators
# 5. Assignments Operators
# 6. Identity Operators
# 7. Membership Operators

In [103]:
# 1 . Arthimatic operators
x = 5
y = 2
print(x + y)
print(x - y)
print(x * y)
print(x / y) # True Division
print(x % y) # modulus operator , Remains remainder
print(x**y) # power 
print(x//y) # Integer DIvision

7
3
10
2.5
1
25
2

In [105]:
# 2. Comparison Operators or Relation operators
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)
print(x!=y)

True
False
False
True
True

In [108]:
# Logical Operators
x = True
y = False

print( x or y) # or means if any of two is true 
print(x and y)  # and means Flase if any one is false , if both are true then its true
print(not y)
print(not x)

True
False
True
False

In [110]:
# Bitwise Operators

x = 2
y = 3
print(x & y ) 
# Binary
# x = 010
# y = 110
# --------
#     010 = 2

2

In [113]:
print(x | y) # or bitwise operator
# x = 010
# y = 110
#-------------
#    110 = 3

3

In [114]:
print(x>>2) # right shift

0

In [116]:
print(y<<3) # left shift

24

In [118]:
print(~x) # ones's compliment

-3

In [135]:
# Assignment Operators
a = 3
print(a)

3

In [136]:
a+=3
print(a)

6

In [129]:
a-=3
print(a)

0

In [137]:
b*=3
a&=3
print(b)

198

In [ ]:
# Identity Operator
# is operator say two things are in same memory locations are not

In [138]:
a is b

False

In [139]:
a = "Shiva"
b = "SHiva"
print(a is b)

False

In [140]:
a = "1"
b = "1"
print(a is b)

True

In [141]:
a = [1,2,3]
b = [1,2,3]
print(a is b)

False

In [ ]:
# Membership Operator
# in

In [142]:
x = "Delhi"
print("D" in x)

True

In [143]:
print("D" not in x)

False

In [ ]:
x = [1,]

## If- else Statements